body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:688px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:18px;
  width:600px;
  height:450px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:420px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:48px;
  width:600px;
  height:420px;
  opacity:0.7;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:18px;
  width:281px;
  height:32px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:67px;
  width:141px;
  height:32px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:70px;
  width:295px;
  height:24px;
}
#u119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:114px;
  width:141px;
  height:32px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:114px;
  width:311px;
  height:112px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:112px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:260px;
  width:141px;
  height:32px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:263px;
  width:98px;
  height:22px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u123_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:263px;
  width:98px;
  height:22px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u124_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:317px;
  width:141px;
  height:32px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:311px;
  width:116px;
  height:27px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u126_input:disabled {
  color:grayText;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:376px;
  width:140px;
  height:40px;
}
#u127_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127.mouseOver {
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
